image:
  tag: {{ env "CIRCLE_SHA1" | default "kind" }}

config:
  logLevel: debug
  healthCheckPort: 8000
  endpoint: 'ws://polkadot-rpc-node-base-services-external-websockets.polkadot:9944'
  databaseUrl: 'postgres://{{ env "PG_USERNAME" | default "pgusername" }}:{{ env "PG_PASSWORD" | default "pgpassword" }}@postgresql-14-primary/{{ env "PG_DBNAME" | default "dbname" }}'
